@media(min-width: 540px){
    .info{
        margin: 0 3em;
    }

    .main__info{
        font-size: 18px;
    }
}

@media(min-width: 960px){
    /* Index */

    .nav{
        height: 60px;
        font-size: 18px;
        justify-content: flex-end;
    }

    .nav__ul{
        margin: 0 3em;
    }

    .main__img{
        margin: 20px 0;
        margin-top: 0;
        opacity: .7;
    }

    .main__text{
        opacity: .9;
        left: 0;
        bottom: 40%;
        width: 50%;
        height: auto;
        border-radius: 0 16px 16px 0;
    }

    .novinky{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
    
    .footer__footer{
        margin-bottom: 0;
    }

    .footer__doba{
        margin-top: 0;
    }

    .footer__info{
        font-size: 18px;
    }

    .doba__text{
        max-width: 550px;
    }

    .podpis{
        font-size: 10px;
        padding: 0.5em 2em;
    }

    /* Novinky */
    .text__nov{
        justify-self: flex-start;
    }

    .nad__artic__nov{
        margin-bottom: 10px;
    }

    .img__nov{
        max-width: fit-content;
    }

    .text__artic__nov{
        width: auto;
        margin-top: 10px;
    }

    /* O nás */

    .texty{
        font-size: 22px;
    }

    /* Ceník */

    .cenik__table{
        margin: 20px 0;
    }

    /* Kontakt */

    .info{
        margin: 0 5em;
    }
}

@media(min-width: 1200px){
    /* Novinky */
    .text__nov{
        justify-self: center;
    }

    /* Ceník */

    .cenik__table{
        width: 1000px;
        display: flex;
        justify-self: center;
    }

    /* Kontakt */

    .main__kont{
        display: grid;
        grid-template-areas:
        'kde kont mapa'
        'otevirani otevirani mapa';
        margin: 20px 0;
        padding: 1em;
    }

    .main__vsechno{
        background-color: var(--Grey);
        margin: 0 10px;
    }

    .info{
        margin: 0 1em;
    }

    .mapa{
        grid-area: mapa;
    }

    .pod_kont{
        bottom: 0;
    }
}

@media(min-width: 1400px){
    .main__info{
        font-size: 20px;
    }

    .main__kont{
        display: grid;
        grid-template-columns: 70% auto;
        gap: 10px;
    }
    
    .info{
        margin: 0 6em;
    }

    .otevirani{
        margin-top: -2em;
    }
    .mapa{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .mapa img{
        max-width: 480px;
        height: 480px;
    }
}